*{	box-sizing:border-box;
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
	-ms-overflow-style: none;  	
	scrollbar-width: none;
	
}

.education-desc{

	margin-left: 1rem;
}

::-webkit-scrollbar{display: none;}
body {
	scrollbar-width: none;
    font-family: 'Poppins';
	background-color: hsl(60, 70%, 78%);
	color: #342220;
	transition: 0.8s;
}
 .aboutmeimg{
	height:3.5rem;
	width: 3.5rem;
	margin-top: 0.5rem;	
	/* box-shadow: 1px 1px 1px 1px gray */
 }
body.active {
    background: #2b2b2b;
	color: #f8f8f8;
}

ul{
	list-style:none;
	gap: 0.625rem;
	
}
#aboutus{
	padding-bottom: 1rem;
}


#main{
	width:100%;
	height:100vh;
	position: relative;
	z-index: inherit;
	/* transform: translate(-50%,-50%); */
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow:0.3125rem 0.625rem 1.875rem rgba(0,0,0,0.02);
	position: fixed;
	left: 0rem;
	top: 0rem;
	width:100%;
	z-index: 1;
	background-color: #eeee9e;

}
.logo img{
	margin:0.1875rem;
	height:3rem;
	border-radius:50%;
	box-shadow: 1px 5px 10px #838a91;
}

nav ul{
	display: flex;
}

nav ul li a{
text-decoration: none;
box-shadow: 1px 5px 5px #66717b;
height: 2.5rem;
line-height: 2.6875rem;
margin: 0.1875rem;
padding: 0rem 2.625rem;
display: flex;
font-size: 0.8rem;
text-transform: uppercase;
font-weight: 500;
color: whitesmoke;
letter-spacing: 0.0625rem;
background-color: #05386B;
border-radius: 2.1875rem;
}



.hey{
	color:#784841;
	font-weight: 500;
	font-size: 0.9rem;
	border-bottom: 0.5px solid #C2ABA8;
}

nav ul li a:hover{
	background-color: #e85a4f;
	color:#FFFFFF;
	border-radius: 1.25rem;
	box-shadow: 0px 0px 2.5px #e85a4f;
	transition: all ease 0.4s;
}

.self img{
    width: 21.875rem;
     height: 21.875rem;
    border-radius: 50%;
	box-shadow: 2px 10px 25px #4d403a;

}

.self {
	width:25rem;
	height: 25rem;
    
}

.content{

	width:90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%,-50%);
	
}

.main-text{
	width: 31rem;
}

.main-text h1{
	font-size: 3.5rem;
	margin:0px 0px 10px 0px;
	line-height: 3.75rem;
}


.say-hi-btn{
	text-decoration: none;
	width:11.875rem;
	height: 2.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #05386B;
	border-radius: 1.25rem;
	box-shadow: 0px 0px 2.5px #342220;
}

.say-hi-btn:hover{
	background-color: #e85a4f;
	transition: all ease 0.2s;
}

.headings {
    font-size: 2.5rem;
    font-weight: bolder;
	display: flex;
	color: #AA887E;
}

.heading-img {
	width: 3rem;
	height: 3rem;
}

#bio {
	
    display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #05386B;
	width: 100%;
	height: 40rem;
	
}

#aboutus{
background-color: #1a69e657;
border-radius: 0.625rem;
padding-left: 1.25rem;
color: whitesmoke;
box-shadow: 5px 10px 14px #0f030c78;
font-size: 3rem;
}


.bio-text {
	margin: 5%;
    border-radius: 5%;
	background-color: #05386B;
	color: whitesmoke;
	font-size: 1.5rem;
}

.programmer img{
	width:100%;
	height: 100%;
	border-radius: 0.625rem;
}
.programmer {
	width:18.75rem;
	height: 18.75rem;
	margin: 5%;
    border-radius: 5%;
}

.education {
	margin: 5%;
    border-radius: 5%;
	font-size: large;
	white-space: nowrap;

}

.skill-container {
	
	margin: 5%;
    border-radius: 5%;
	font-size: large;
	white-space: nowrap;
	
}

.skill-set {
	margin: 5%;
	font-size: large;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.skill {
	background-color: #05386B;
color: #FFFFFF;
box-shadow: 5px 10px 14px #917c73;
height: 40px;
line-height: 43px;
margin: 0.1875rem;
padding: 0rem 2.625rem;
font-size: 0.8rem;
border-radius: 0.6875rem;
}

#projects {
	margin: 5%;
    border-radius: 5%;

}
.project-heading:hover{
	
text-decoration: underline;
}
.list{

	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.project-container{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content:center ;
	flex-wrap: wrap;
	margin: 5%; 
    border-radius: 15%; 
	background-color: #05386B;
	box-shadow: 15px 15px 8px 3px gray ;
	height:max-content;
	width: 20rem ; 
	padding: 2rem;
	color: rgb(241, 236, 236);

}

.project-container:hover{
background-color: #c5b5b0;
transition: ease 0.3s;
color: #342220 ;

}



.project-box {
	width:19.375rem;
	height: 21.875rem;
	background-color: #FFFFFF;
	border-radius: 0.625rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0.625rem;
	margin: 1.25rem;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
	
}


.project-ss{
	box-shadow: 3px 6px 15px 2px rgb(37, 37, 61);
	margin: 1rem;
	height: 8rem;
	border-radius: 10px;
} 


.list a{
text-decoration: none;
margin: 2rem 5rem;

}

.project-container a:visited{
	color: whitesmoke;
}





.project-box:hover{

	box-shadow: 5px 10px 30px #AA887E;
    background-color: #E1D3D1;
	transition: all ease 0.2s;

}

#contact  {
	margin: 1rem;
    border-radius: 5%;
}
#contact a {
text-decoration: none;
}
.contact-options {
	display: -ms-flexbox;
    justify-content: stretch;
}

.contact-img {
	width: 3.75rem;
	height: 3.75rem;
	line-height: 2.6875rem;
	margin-right: 1rem;
}
#twitter{
	border-radius: 25%;
}
footer {
	display:flex;
	justify-content: space-around;
	border-top: 1px solid rgba(232,232,232,0.5);
}

footer p{
	margin:0.9375rem 0rem;
	color:#5f5f5f;
	font-size: 1.5rem;
}

.footer-img {
	width: 1.25rem;
	height: 1.25rem;

}

/* @media (max-width:1080px){


} */
	










